.activity-option {
  z-index: 20;
  position: sticky;
  top: 0.88rem;
  height: 1rem;
  overflow-x: auto;
  padding: 0.24rem 0 0.36rem;
  font-size: 0;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  background: #f7f9fa;

  &::-webkit-scrollbar {
    display: none;
  }

  &__card {
    display: inline-block;
    width: 1.6rem;
    height: 1rem;
    margin-left: 0.18rem;
    flex: none;
    padding: 0 0.18rem;
    border-radius: 0.03rem;
    overflow: hidden;
    box-sizing: border-box;

    &:first-child {
      margin-left: 0.28rem;
    }

    &:last-child {
      margin-right: 0.28rem;
    }

    &:nth-child(8n) {
      background: url('../../assets/icon_activity1.png') no-repeat;
      background-size: 100% 100%;
    }
    &:nth-child(8n + 1) {
      background: url('../../assets/icon_activity2.png') no-repeat;
      background-size: 100% 100%;
    }
    &:nth-child(8n + 2) {
      background: url('../../assets/icon_activity3.png') no-repeat;
      background-size: 100% 100%;
    }
    &:nth-child(8n + 3) {
      background: url('../../assets/icon_activity4.png') no-repeat;
      background-size: 100% 100%;
    }
    &:nth-child(8n + 4) {
      background: url('../../assets/icon_activity5.png') no-repeat;
      background-size: 100% 100%;
    }
    &:nth-child(8n + 5) {
      background: url('../../assets/icon_activity6.png') no-repeat;
      background-size: 100% 100%;
    }
    &:nth-child(8n + 6) {
      background: url('../../assets/icon_activity7.png') no-repeat;
      background-size: 100% 100%;
    }
    &:nth-child(8n + 7) {
      background: url('../../assets/icon_activity8.png') no-repeat;
      background-size: 100% 100%;
    }
    &-icon {
      width: 0.42rem;
      height: 0.42rem;
      object-fit: contain;
      display: block;
      margin-top: 0.08rem;
    }
    &-text {
      font-size: 0.26rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      margin: unset;
    }
  }
}
