@import '../../mixin';

.service-card {
  position: relative;
  display: flex;
  // margin: 0 0.24rem;
  padding: 0.25rem 0.24rem;
  background: #ffffff;

  &::after {
    content: '';
    position: absolute;
    left: 0.24rem;
    right: 0.24rem;
    bottom: 0;
    margin: auto;
    border-bottom: 1px solid #e1e3e6;
  }
  // &:last-child::after {
  //   display: none;
  // }

  &__cover {
    position: relative;
    flex-shrink: 0;
    width: 2.7rem;
    height: 1.8rem;
    margin-right: 0.2rem;
    background: pink;

    &__img {
      width: 100%;
      height: 100%;
    }

    &__play {
      position: absolute;
      right: 0.12rem;
      bottom: 0.12rem;
      width: 0.42rem;
      height: 0.42rem;
    }
  }

  &__cont {
    flex: 1;
    min-width: 0;
  }

  &__title {
    @include ellipsis(2, 0.4rem);
    font-size: 0.28rem;
    color: #323333;
    margin-bottom: 0.1rem;
  }

  &__meta {
    display: flex;
    align-items: center;
    margin-bottom: 0.1rem;
    font-size: 0.22rem;
    color: #969899;
  }

  &__loc {
    width: 0.26rem;
    height: 0.26rem;
    margin-right: 0.02rem;
  }

  &__side {
    margin-left: auto;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__price {
    margin-left: auto;
    font-size: 0.34rem;
    color: #ff6f00;
    font-weight: 600;
    line-height: 1.3;

    &__sm {
      font-size: 0.28rem;
    }
  }
}
