@import '../../mixin';

.ks-title {
  @include ellipsis(2, 0.56rem);
  margin: 0;
  color: #323333;
  font-size: 0.36rem;
  font-weight: normal;
  height: auto;
  max-height: 0.56rem * 2;

  &__tag {
    position: relative;
    top: -0.05rem;
    display: inline-block;
    padding: 0 0.08rem;
    margin-right: 0.1rem;
    height: 0.38rem;
    line-height: 0.38rem;
    color: #ffffff;
    font-size: 0.26rem;
    background: linear-gradient(135deg, #00f0fe, #1a97ff);
  }
}
