.pay-success {
  padding-bottom: 1rem;

  &__icon {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    margin: 1.8rem auto 0.23rem;
    background: url(../../assets/icon_circle_succ.png) no-repeat center;
    background-size: contain;
  }

  &__title {
    margin: 0 0 0.3rem;
    line-height: 0.56rem;
    font-size: 0.4rem;
    color: #000000;
    font-weight: 500;
    text-align: center;
  }

  &__info {
    margin: 0 0 0.9rem;
    color: #888888;
    font-size: 0.28rem;
    line-height: 0.4rem;
    text-align: center;
  }

  &__btn {
    display: block;
    width: 6.7rem;
    height: 0.94rem;
    margin: 0 auto;
    line-height: 0.94rem;
    text-align: center;
    font-size: 0.36rem;
    color: #ffffff;
    background: linear-gradient(135deg, #00f0fe, #1a97ff);
  }
}
