.wx-share-mask {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);

  &__cont {
    position: relative;
    width: 7.5rem;
    height: 100%;
    margin: 0 auto;
    // background: pink;
    overflow: hidden;
  }

  &__tips {
    position: absolute;
    top: 1.3rem;
    left: 2.1rem;
  }

  b {
    position: absolute;
    top: 0.26rem;
    right: 0.48rem;
    width: 1.39rem;
    height: 1.23rem;
    background: url(../../assets/icon_share_arrow.png) no-repeat center;
    background-size: contain;
  }

  p {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 0.4rem;
    color: #ffffff;
    height: 0.56rem;

    &:nth-child(1) {
      margin-bottom: 0.2rem;
    }

    &:nth-child(2),
    &:nth-child(3) {
      padding-right: 0.54rem;
      background: url(../../assets/icon_share_1.png) no-repeat center right;
      background-size: 0.28rem;
    }

    &:nth-child(2) {
      background-position: center right 0.04rem;
    }

    &:nth-child(3) {
      background-image: url(../../assets/icon_share_2.png);
      background-size: 0.36rem;
    }
  }

  i {
    margin: 0 0.05rem;
    height: 0.1rem;
    width: 0.1rem;
    border-radius: 50%;
    background: #ffffff;
  }
}
